{% set lang = bamboo_i18n_current_lang() %}
<footer role="contentinfo">

    <div class="top-footer">
        <div class="wrapper">
            <div class="footer-item footer-brand-white">
                <img src="{{ base_url }}/{{ bamboo_path_system('theme', 'ndf_theme') }}/images/logos/ndf-logo-white.svg">
                <p class="slogan">
                  {{ drupal_config('ndf_settings.settings','footer_slogin_'~lang) }}
                </p>
            </div>

            <div class="footer-item footer-menu-browse">
                <h5 class="heading">{{ 'Browse'|t }}</h5>
                {{ drupal_menu('browse') }}
            </div>

            <div class="footer-item footer-menu-legal">
                <h5 class="heading">{{ 'Legal'|t }}</h5>
                {{ drupal_menu('legal') }}
            </div>

            <div class="footer-item footer-contact-us">
                <h5 class="heading">{{ 'Contact us'|t }}</h5>
              {{ drupal_config('ndf_settings.settings','address_'~lang~'.value')|raw }}
            </div>

            <div class="footer-item footer-lang-switcher">
                <h5 class="heading">{{ 'Language'|t }}</h5>
                {% if url_query_string is not null %}
                    {% set url = current_path ~ '?' ~ url_query_string %}
                {% else %}
                    {% set url = current_path %}
                {% endif %}
                <div class="lang">
                    <a href="{{ base_url }}/en{{ url }}" class='eng-language'>English</a>
                </div>
                <div class="lang">
                    <a href="{{ base_url }}/ar{{ url }}" class='ar-language'>العربية</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="wrapper">
            <div class="social-icons">
                <img src="{{ base_url }}/{{ bamboo_path_system('theme', 'ndf_theme') }}/images/icons/facebook.svg">
                <img src="{{ base_url }}/{{ bamboo_path_system('theme', 'ndf_theme') }}/images/icons/instagram.svg">
                <img src="{{ base_url }}/{{ bamboo_path_system('theme', 'ndf_theme') }}/images/icons/twitter.svg">
            </div>
            <div class="copyrights">
              {{ drupal_config('ndf_settings.settings','copyrights_txt_'~lang~'.value')|striptags|trim|render|raw }} &copy; {{ 'now' | date('Y') }}
            </div>
        </div>
    </div>
</footer>
