<footer role="contentinfo">
  <div class="top-footer">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-md-3 mb-3 mb-md-0">
          <h5 class="heading">{{ 'Browse'|t }}</h5>
          {{ drupal_menu('browse') }}
        </div>

        <div class="col-md-3 mb-3 mb-md-0">
          <h5 class="heading">{{ 'Legal'|t }}</h5>
          {{ drupal_menu('legal') }}
        </div>

        <div class="col-md-3 mb-3 mb-md-0">
          <h5 class="heading">{{ 'Contact us'|t }}</h5>
          <p>2532 Shohadaa Suburb - Unit 10</p>
          <p>Riyadh 7182-13241 Saudi Arabia</p>
          <a href="mailto:info@ndf.goc.sa">info@ndf.goc.sa</a>
        </div>

        <div class="col-md-3 mb-3 mb-md-0">
          <div class="social-icons">
            <img src="{{ base_url }}/{{ bamboo_path_system('theme', 'ndf_theme') }}/images/icons/facebook.svg">
            <img src="{{ base_url }}/{{ bamboo_path_system('theme', 'ndf_theme') }}/images/icons/instagram.svg">
            <img src="{{ base_url }}/{{ bamboo_path_system('theme', 'ndf_theme') }}/images/icons/twitte.svg">
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
