<header id="header-normal">
  {{ page.header }}

  {% if page.nav_branding or page.nav_main or page.nav_additional %}
    <nav class="{{ nav_classes }}">
      <div class="{{ b4_top_container }}">
        <div class="nav-brand">
          {{ page.nav_branding }}
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fa-solid fa-bars"></i></span>
          </button>
        </div>
        <div class="collapse navbar-collapse col-12 col-md-auto p-0 justify-content-end" id="navbarSupportedContent">
          {{ page.nav_main }}
          {{ page.nav_additional }}
          <div class="lang-switcher">
            {% if url_query_string is not null %}
              {% set url = current_path ~ '?' ~ url_query_string %}
            {% else %}
              {% set url = current_path %}
            {% endif %}
            {%- if bamboo_i18n_current_lang() == 'ar' %}
              <div class="lang">
                <a href="{{ base_url }}/{{ url }}">
                  <span>EN</span>
                  <img src="{{ base_url }}/{{ bamboo_path_system('theme', 'ndf_theme') }}/images/icons/language-switch-globe.svg">
                </a>
              </div>
            {% else %}
              <div class="lang">
                <a href="{{ base_url }}/ar{{ url }}">AR</a>
                <img src="{{ base_url }}/{{ bamboo_path_system('theme', 'ndf_theme') }}/images/icons/language-switch-globe.svg">
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  {% endif %}

</header>
