<div id="header-absolute">
  <div class="{{ b4_top_container }} row mx-auto">
    <header id="header">
      {{ page.header }}
      {% if page.nav_branding or page.nav_main or page.nav_additional %}
        <nav class="{{ nav_classes }}">
          <div class="col-auto p-0">
            <a class="navbar-brand" href="{{ url('<front>') }}">
              <img src="{{ base_url }}/{{ bamboo_path_system('theme', 'ndf_theme') }}/images/logos/ndf-logo-white.svg">
            </a>
          </div>

          <div class="col-3 col-md-auto p-0 text-right">
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>

          <div class="collapse navbar-collapse col-12 col-md-auto p-0 justify-content-end" id="navbarSupportedContent">
            {{ page.nav_main }}
            {{ page.nav_additional }}
          </div>
        </nav>
      {% endif %}

    </header>
  </div>
</div>
