<main role="main">
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

  {% set sidebar_first_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-sm-6 col-lg-3' : 'col-12 col-lg-3' %}

  {% set sidebar_second_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-sm-6 col-lg-3' : 'col-12 col-lg-3' %}

  {% set content_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-lg-6' : ((page.sidebar_first or page.sidebar_second) ? 'col-12 col-lg-9' : 'col-12' ) %}

  {# Banner region #}
  {% if page.banner %}
    {{ page.banner }}
  {% endif %}


  {% if page.breadcrumb %}
    {{ page.breadcrumb }}
  {% endif %}
  <div class="row no-gutters">
    {% if page.sidebar_first %}
      <div class="order-2 order-lg-1 {{ sidebar_first_classes }}">
        {{ page.sidebar_first }}
      </div>
    {% endif %}
    <div class="order-1 order-lg-2 {{ content_classes }}">
      {{ page.content }}
    </div>
    {% if page.sidebar_second %}
      <div class="order-3 {{ sidebar_second_classes }}">
        {{ page.sidebar_second }}
      </div>
    {% endif %}
  </div>


  {# Front Second content region #}
  {% if page.front_second_content %}
    <div id="second-content-region">
      <div class="front-second-content-region">
        {{ page.front_second_content }}
      </div>
    </div>
  {% endif %}

  {# Front third content region #}
  {% if page.front_third_content %}
    <div id="third-content-region">
      <div class="front-third-content-region">
        {{ page.front_third_content }}
      </div>
    </div>
  {% endif %}



  {# Front fourth content region #}
  {% if page.front_fourth_content %}
    <div id="fourth-content-region">
      <div class="front-fourth-content-region">
        <div class="home-products-title">
          {%- if bamboo_i18n_current_lang() == 'ar' %}
            <h3>خدمات الربط</h3>
          {% else %}
            <h3>API Services</h3>
          {% endif %}
        </div>

        {{ page.front_fourth_content }}
      </div>
    </div>
  {% endif %}


  {# Front fifth content region #}
  {% if page.front_fifth_content %}
    <div id="fifth-content-region"
         style="background-image: url({{ base_url }}/{{ bamboo_path_system('theme', 'ndf_theme') }}/images/home/contact-bg.jpeg)">
      <div class="container">
        <div class="front-fifth-content-region">
          {{ page.front_fifth_content }}
        </div>
      </div>
    </div>
  {% endif %}


</main>
