{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
] %}

{% set apis_url = render_var(url('<front>')) ~ 'apis' %}


<div{{ attributes.addClass(classes) }}>


  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {% block content %}
    {# Pending discussion Hamzeh and Mahmoud to choose a method of printing elements (custom s variables / Drupal array fields ) #}
    <div class="home-products-wrapper"
         style="background-image: url({{ base_url }}/{{ bamboo_path_system('theme', 'ndf_theme') }}/images/home/{{ bamboo_i18n_current_lang() == 'ar' ? 'home-watermark-rtl.svg' : 'home-watermark.svg' }})">

      <div class="card-deck">
        {{ content }}
      </div>
      <div class="action">

        {%- if bamboo_i18n_current_lang() == 'ar' %}
          <a href="{{ base_url }}/ar/apis"><button>View All</button></a>
        {% else %}
          <a href="{{ base_url }}/apis"><button>View All</button></a>
        {% endif %}
      </div>

    </div>
  {% endblock %}
</div>
