{#
/**
 * @file
 * Generic theme implementation to display a developer- or team app entity.

 * Available variables:
 * - entity: The entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - entity.getEntityTypeId() will return the entity type ID.
 *   - entity.hasField('field_example') returns TRUE if the entity includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   Calling other methods, such as entity.delete(), will result in an exception.
 *   See \Drupal\apigee_edge\Entity\EdgeEntityInterface for a full list of
 *   methods.
 * - label: The title of the entity.
 * - content: All rendered field items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - url: Direct URL of the current entity.
 * - attributes: HTML attributes for the containing element.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 *
 * @see \Drupal\apigee_edge\Entity\EdgeEntityViewBuilder::getBuildDefaults()
 * @see \Drupal\Core\Entity\EntityViewBuilder::getBuildDefaults()
 * @see template_preprocess_apigee_entity()
 * @see https://www.drupal.org/project/drupal/issues/2808481
 *
 * @ingroup themeable
 */
#}

{% if entity.getEntityTypeId in ['developer_app', 'team_app'] %}
  {% set classes = [
    'apigee-entity--app',
    'apigee-entity--app--view-mode-' ~ view_mode|clean_class
  ] %}
{% endif %}

{% set displayName = get_app_displayname(entity.id) %}

<div class="app-entity">
  <div class="header-section">
    <div class="add-keys">
      <div class="my-3">
        {% if curr_lang == 'ar' %}
          <a href="/{{ curr_lang }}/user/{{ current_uid }}/apps/{{ current_app_name }}/api-keys/add">إضافة مفتاح</a>
        {% else %}
          <a href="/user/{{ current_uid }}/apps/{{ current_app_name }}/api-keys/add">Add key</a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="content-section">
    <div class="app-info">
      <div class="app-name unselectable">
        {{ displayName }}
      </div>
      <div class="app-status unselectable">
        {{ content.status }}
      </div>
    </div>
    <div class="app-body">
      <div class="app-description">
        {{ content.description }}
      </div>
      <div class="app-callbackurl">
        {{ content.callbackUrl }}
      </div>
      <div class="app-createdat">
        {{ content.createdAt }}
      </div>
      <div class="app-expireat">
        {{ content.expiresAt }}
      </div>
    </div>

    <div class="app-credentials">
{#      <div class="section-title">#}
{#        {{ 'Credentials'|t }}#}
{#      </div>#}
      {{ content.credentials }}
    </div>
  </div>
</div>
