{#
/**
* @file
* Template for a Secret element.
*
* Available variables:
* - value: The secret value.
*
* @ingroup themeable
*/
#}

{% set id = 'secret-id-' ~ random() %}

{{ attach_library('apigee_edge/apigee_edge.secret') }}
<div class="secret field__item" id={{ id }}>
  <div class="secret__value">{{ value }}</div>
  <div class="secret__value__hidden" aria-hidden="true">********************</div>
  <div class="secret-buttons">
    <button class="secret__toggle unselectable" title="{{ 'Toggle key visibility'|t }}" aria-controls="{{ id }}">
      <span class="secret__toggle__show"><i class="fas fa-eye secret__toggle__show"></i> {{ 'Show'|t }}</span>
      <span class="secret__toggle__hide"><i class="fas fa-eye-slash secret__toggle__hide"></i> {{ 'Hide'|t }}</span>
    </button>

    <div class="secret__copy">
      <button class="secret__copy unselectable" data-value="{{ value }}" title="{{ "Click to copy"|t }}">
        <span><i class="fa-regular fa-clone"></i> {{ 'Copy'|t }}</span>
      </button>
      <span class="badge badge-light unselectable">{{ "Copied"|t }}</span>
    </div>

  </div>
</div>
